# 核心仿真与控制
mujoco==3.3.3
casadi==3.7.2
pybullet

# 深度学习与数学计算
torch==2.8.0
torchvision==0.23.0
torchaudio==2.8.0
numpy==2.0.2
scipy==1.13.1
pandas==2.3.3
sympy==1.14.0

# 优化求解器 (NMPC 常用)
cvxpy
osqp
scs
clarabel

# 绘图与工具
matplotlib==3.9.4
seaborn==0.13.2
opencv-python==4.12.0.88
gym
glfw